root = true

[*]
# Set to tab or space to use hard tabs or soft tabs respectively
indent_style = space

# Number of columns used for each indentation level and the width of soft tabs (when supported)
# When set to tab, the value of tab_width (if specified) will be used
indent_size = 2

# Line ending file format (Unix, DOS, Mac)
end_of_line = lf

# File character encoding
charset = utf-8

# Denotes whether file should end with a newline
insert_final_newline = true

# Denotes whether whitespace is removed from the end of lines
trim_trailing_whitespace = true

[Makefile]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
