[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format
	s = status -s

[branch]
	# Tells Git to set up pull to rebase instead of merge
	autoSetupRebase	= always

[diff]
	# Detect copies as well as renames
	renames = copies
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED	

[init]
	# Default branch name e.g. when initializing a new repository or when cloning an empty repository
	defaultBranch = main

[pull]
	# Rebase branches on top of the fetched branch when "git pull" is run
	rebase = true
